{{#> layout currentPage= "Login"}}

<!-- LOGIN -->
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg rounded-lg" style="width: 500px; border: none;">
        <h3 class="mb-4 text-center">👋 Welcome Back!</h3>

        <form id="login-form" action="/login" method="post" class="auth-form">
            <div class="mb-3">
                <input name="email" type="email" class="form-control p-3 rounded" placeholder="Email" id="email"
                    required />
            </div>

            <div class="mb-3">
                <input name="password" type="password" class="form-control p-3 rounded" placeholder="Password"
                    id="password" required />
            </div>

            {{!-- Pesan error --}}
            {{#if messages.error}}
            <div class="alert alert-danger" role="alert">
                {{messages.error}}
            </div>
            {{/if}}

            {{!-- Pesan sukses --}}
            {{#if messages.success}}
            <div class="alert alert-success" role="alert">
                {{messages.success}}
            </div>
            {{/if}}

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary w-100 p-2 rounded-pill">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>


{{/layout}}