<html lang="en">
{{#> layout currentPage= "Contact"}}

    <!-- form -->
    <form class="contact-form" action="" onsubmit="submitForm(event)">
      <h1>Contact Me</h1>
      <div class="form-field">
        <label for="name">Name</label>
        <input id="name" type="text" placeholder="Name" required />
      </div>

      <div class="form-field">
        <label for="Email">Email</label>
        <input id="Email" type="text" placeholder="Email" required />
      </div>

      <div class="form-field">
        <label for="subject">subject</label>
        <input id="subject" type="text" placeholder="subject" required />
      </div>

      <div class="form-field">
        <label for="Skill">Skill</label>
        <select name="" id="Skill" required>
          <option value="" disabled selected>Select your skill</option>
          <option value="Frontend">Frontend</option>
          <option value="Backend">Backend</option>
          <option value="Fullstak">Fullstack</option>
        </select>
      </div>

      <div class="form-field">
        <label for="Message">Message</label>
        <textarea
          name=""
          id="Message"
          placeholder="Message"
          required
        ></textarea>
      </div>

      <button type="submit">Submit</button>

      <script src="/js/belajar-js.js"></script>
      <script src="/js/contact.js"></script>
      <script src="/js/navbar.js"></script>
    </form>
    
{{/layout}}