{{#> layout currentPage= "Testimonials"}}

    <!-- MAIN CONTENT TESIMONIAL  -->
    <main>
      <h1 style="text-align: center">My testimonial</h1>
      <h3 style="text-align: center">Rating By Star</h3>

      <!-- STARS BUTTON  -->
      <div class="testimonial-star-buttons">
        <button onclick="showAllTestimonials()">All</button>
        <button onclick="filterTestimonialsByStar(1)">1★</button>
        <button onclick="filterTestimonialsByStar(2)">2★</button>
        <button onclick="filterTestimonialsByStar(3)">3★</button>
        <button onclick="filterTestimonialsByStar(4)">4★</button>
        <button onclick="filterTestimonialsByStar(5)">5★</button>
      </div>

      <!-- TESTIMOAL LIST  -->
      <div id="testimonialsContainer" class="testimonial-list">
        <!-- <article>
          <img src="/img/ernando-ari_169.jpeg" alt="testimonial-image" />
          <p class="testimonial-item-caption">"Keren Banget Website nya!!!"</p>
          <p style="text-align: right">Karunia Leo</p>
          <p style="text-align: right; font-weight: bold">5★</p>
        </article> -->
        <p>Loading....</p>
      </div>
    </main>

    {{!-- <script src="/js/navbar.js"></script> --}}
    <script src="/js/testimonials.js"></script>
    {{!-- <script
      src="/js/bootsrap/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body> --}}

{{/layout}}